@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
    text-align: center;
    margin: 200px;
}

p {
    margin-top: 20px;
    font-family: 'Trebuchet MS';
    font-size: 20px;

}
